extends ../layouts/default

block js

block append variables 
	- var currentPage = "home";
	- var themeColor = "dark";

block content
	.wrap
		img#login-bg(src="/images/login-bg.jpeg")
		#middleWhite
			.container
				br
				div.text-center
					img(src="/images/logo_black.png" width="300")
					br
					br
					p.text-center Fill in a short questionnaire and get skin-care products recommendations.
				div
					a.yesButton.btn(type="button" href="/questionnaire") Start
					br
				br