nav#myNav.navbar.navbar-default.navbar-expand-lg.navbar-dark: .container.my-1
    //- a.navbar-brand(href='/'): img(src="/images/logo_top_left.png" width="65" height="40" alt="")
    a.navbar-brand(href='/') A-skin
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#orderNav')
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.me-auto
            li.nav-item: a.nav-link(href="/" class={'active': currentPage === 'home'}) Home
            li.nav-item: a.nav-link(href="/questionnaire"  class={'active': currentPage === 'questionnaire'}) Questionnaire